@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --secondary-color: #1d1d1d;
    --background-color: #111111;
    --text-color: #bb86fc;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    display: grid;
    justify-items: center;
    font-style: normal;
    filter: drop-shadow(0 0 10px var(--text-color));
}

.input {
    background-color: var(--secondary-color);
    display: grid;
    justify-items: left;
    text-align: left;
    border-radius: 30px;
    margin: 50px;
    padding: 20px;
    width: 80%;
    border: none;
}

.input input {
    background-color: var(--text-color);
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 30px;
}

.input label {
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

#generate,
#reset,
#download {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    width: 200px;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

#download {
    margin: 20px;
}
.input input:hover {
    cursor: pointer;
    transform: scale(1.07);
}
.response input:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.response {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}

.navbar {
    position: fixed;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    padding: 10px;
}
